@for (element of currentTask?.elements; track $index) {
  @if (element.isGap) {
    @if (element.correct) {
      <span class="gap correct">{{ element.enteredText }}</span>  
    } @else if (element.wrong) {
      <span class="gap wrong" [title]="element.text">{{ element.enteredText }}</span>
    } @else {
      <span class="gap" contenteditable="plaintext-only" (keypress)="keyPressFilter($event)" (input)="gapInput($event, element)"></span>
    }
  } @else {
    <span>{{element.text}}</span>
  }
}