:host {
  .buttonArea {
    margin-top: 50px;
  }

  .badge {
    font-size: 0.8rem;
    background-color: var(--bg-hover-color);
    padding: 5px 10px;
    border-radius: 10px;
  }

  .abort {
    float: right;
  }

  .stats {
    margin-top: 1rem;
    font-size: 0.75rem;

    &>span {
      font-size: 0.75rem;
    }

    &>.correct-stats {
      color: var(--green-fg-color);
    }
    &>.wrong-stats {
      color: var(--red-fg-color);
    }
    &>.skipped-stats {
      color: var(--orange-fg-color);
    }
  }
}