:host {
  input[type="checkbox"] {
    accent-color: green;
  }

  button.delete-option {
    padding: 0px;
    border: none;
    margin-left: 1rem;
  }

  .choice-text:empty::before {
    content: 'Option';
    color: color-mix(in hsl, var(--font-color) 85%, var(--bg-color) 15%);
    font-style: italic;
  }

  .question:empty::before {
    content: 'Frage';
    color: color-mix(in hsl, var(--font-color) 85%, var(--bg-color) 15%);
    font-style: italic;
  }
}