
:host {
  .gap {
    background-color: var(--highlight-bg-color);
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
  }

  .hint {
    font-size: 0.5rem;
    font-style: italic;
  }

  .gap-text:empty::before {
    content: 'Text';
    font-style: italic;
    color: color-mix(in hsl, var(--font-color) 85%, var(--bg-color) 15%);
  }
}