
:host {
  .gap {
    background-color: var(--highlight-bg-color);
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
  }

  .hint {
    font-size: 0.5rem;
    font-style: italic;
  }
}