<table>
  <tr><td><span class="label">Aufgabentyp:</span></td>
    @for (taskType of allTaskTypes; track $index) {
      <td>
        <span class="option"><input type="checkbox" [checked]="settings.types.includes(taskType)" (change)="toggleTypeFilter(taskType)"/> {{taskType | taskType}}</span>
      </td>
    }
  </tr>
  <tr>
    <td><span class="label">Aufgabenkategorie:</span></td>
    @for (taskCategory of allTaskCategories; track $index) {
      <td>
        <span class="option"><input type="checkbox" [checked]="settings.categories.includes(taskCategory)" (change)="toggleCategoryFilter(taskCategory)"/> {{taskCategory | taskCategory}}</span>
      </td>
    }
  </tr>
</table>
<div class="detail">{{matchedTasks}} von {{tasks.length}} Aufgaben ausgewählt</div>
<div class="buttonBar">
  <button (click)="startQuiz()">Quiz starten</button>
</div>