:host {
  .option, .label {
    margin-right: 1rem;
  }

  .buttonBar {
    margin-top: 1rem;
  }

  .detail {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    font-style: italic;
  }
}