
:host {
  table {
    width: 100%;
  }

  thead {
    font-weight: bolder;
  }

  td {
    padding: 5px 10px 0px 10px;
  }

  tbody>tr:hover {
    background-color: var(--bg-hover-color);
  }
}