/* You can add global styles to this file, and also import other style files */


:root {
  --font-color: black;
  --bg-color: white;
  --border-color: color-mix(in hsl, var(--font-color) 50%, var(--bg-color) 50%);
}




html {
  font-size: 20px;
}



// Global default button style

button {
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  background-color: var(--bg-color);
  border: solid var(--border-color) 1px;

  &:hover, &.active {
    background-color: color-mix(in hsl, var(--bg-color) 90%, var(--font-color) 10%);
    border-color: color-mix(in hsl, var(--border-color) 90%, var(--bg-color) 10%);
  }
}


